<!DOCTYPE html>
<html lang="zh-Ch">
<head>
	<meta charset="utf-8">
	<title>cissyjs</title>
	<link rel="stylesheet" href="../build/css/app.css"></head>
<body>
	<div class="cy-container edit">
		<div class="cy-nav"  style="display:none;"></div>
		<div class="cy-header">
			<div class="row cy-module">
				<p class="cy-top-bar">
					<button type="button" class="attr">设置</button>
					<button type="button" class="attr remove">删除</button>
				</p>
				<p class="cy-bottom-bar">
					<button type="button" class＝"add">添加模块</button>
				</p>
			</div>
			<div class="row add-module">
				添加模块
			</div>
		</div>
		<div class="cy-content">
			<div class="cy-aside">
				<div class="row cy-module">
					
				</div>
				<div class="row cy-module">
					
				</div>
				<div class="row add-module">
					添加模块
				</div>
			</div>
			<div class="cy-body">
				<div class="row cy-module">
					<div class="">
						<ul><li></li></ul>
					</div>
				</div>
				<div class="row cy-module">
					
				</div>
			</div>
		</div>
	</div>
	<script src="../build/js/lib/jquery.js"></script>
	<script src="../build/js/cissyjs.min.js"></script>
	<script>
		cissy.init();
	</script>
</body>
</html>